
.sample-cntents[data-v-49afbc1a] {
  position: absolute;
  top: 100px;
  bottom: 0;
  right: 0;
  left: 0;
}
.sample-contents-item[data-v-49afbc1a] {
  overflow: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 200px;
  left: 0;
}
.sample-code[data-v-49afbc1a] {
  width: 200px;
  background-color: #eee;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}


.scroll-contents[data-v-71e64b26] {
  height: 2000px;
  position: relative;
  overflow: hidden;
}
.test[data-v-71e64b26] {
  background-color: red;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 500px;
}
.gnav[data-v-71e64b26] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  height: 40px;
  background-color: #333;
}
.gnav-item[data-v-71e64b26] {
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  padding: 0 16px;
  line-height: 40px;
  font-size: 14px;
  list-style-type: none
}
.gnav-item a[data-v-71e64b26] {
    color: #fff;
    text-decoration: none;
    display: block
}
.gnav-item a[data-v-71e64b26]:hover {
      opacity: 0.7;
}


.gnav[data-v-223fae30] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  height: 40px;
  background-color: #333;
}
.gnav-item[data-v-223fae30] {
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  padding: 0 16px;
  line-height: 40px;
  font-size: 14px;
  list-style-type: none
}
.gnav-item a[data-v-223fae30] {
    color: #fff;
    text-decoration: none;
    display: block
}
.gnav-item a[data-v-223fae30]:hover {
      opacity: 0.7;
}


:root {
  --main-color: #3bbfce;
  --main-bg-color: #f5f5f5;
  --content--max-width: 50.625rem;
  --border-bottom: 1px solid rgba(0,0,0,0.05);
  --link-color: #666;
  --text-color: #555;
  --code-bg-color: #fff;
  --entry-title-color: #f5f5f5;
  --paper-background-color: rgba(255, 255, 255, 0.8);
}
* {
  margin: 0;
  padding: 0;
  font-family: 'M PLUS 1p', sans-serif;
}
html {
  background-color: #f5f5f5;
  background-color: var(--main-bg-color);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
a {
  -webkit-tap-highlight-color: transparent;
}
.content-body {
  margin: 0 auto;
  max-width: calc(50.625rem + 7.5%);
  max-width: calc(var(--content--max-width) + 7.5%)
}
.content-body i {
    font-style: none;
}
.content-body h2 i, .content-body h3 i, .content-body h4 i, .content-body h5 i {
      display: none;
}
.content-body li,
  .content-body h1,
  .content-body h2,
  .content-body h3,
  .content-body h4,
  .content-body h5,
  .content-body p,
  .content-body pre,
  .content-body table {
    margin: 0 5%;
    line-height: 1.6;
    font-weight: normal;
    position: relative;
    padding-bottom: 6px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    letter-spacing: 0.13em;
    text-decoration: none;
    color: #555;
    color: var(--text-color)
}
.content-body li h2,
    .content-body li h3,
    .content-body li h4,
    .content-body li h5,
    .content-body li p,
    .content-body li table,
    .content-body h1 h2,
    .content-body h1 h3,
    .content-body h1 h4,
    .content-body h1 h5,
    .content-body h1 p,
    .content-body h1 table,
    .content-body h2 h2,
    .content-body h2 h3,
    .content-body h2 h4,
    .content-body h2 h5,
    .content-body h2 p,
    .content-body h2 table,
    .content-body h3 h2,
    .content-body h3 h3,
    .content-body h3 h4,
    .content-body h3 h5,
    .content-body h3 p,
    .content-body h3 table,
    .content-body h4 h2,
    .content-body h4 h3,
    .content-body h4 h4,
    .content-body h4 h5,
    .content-body h4 p,
    .content-body h4 table,
    .content-body h5 h2,
    .content-body h5 h3,
    .content-body h5 h4,
    .content-body h5 h5,
    .content-body h5 p,
    .content-body h5 table,
    .content-body p h2,
    .content-body p h3,
    .content-body p h4,
    .content-body p h5,
    .content-body p p,
    .content-body p table,
    .content-body pre h2,
    .content-body pre h3,
    .content-body pre h4,
    .content-body pre h5,
    .content-body pre p,
    .content-body pre table,
    .content-body table h2,
    .content-body table h3,
    .content-body table h4,
    .content-body table h5,
    .content-body table p,
    .content-body table table {
      margin: 0;
}
.content-body :not(.normal) img {
    width: 100%;
}
.content-body .code-lang {
    margin: 0 5%;
    padding: 2px 8px;
    border-bottom: none;
    background-color: rgba(255, 255, 255, 0.8);
    background-color: var(--paper-background-color);
    color: #555;
    color: var(--text-color);
    -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
            box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
    font-size: 12px;
}
.content-body pre {
    margin-bottom: 24px;
    color: #666;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 8px !important;
    border: 1px solid #ddd !important;
    background-color: #fff;
    background-color: var(--code-bg-color);
    -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
            box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
    overflow: auto;
    font-size: 14px;
    letter-spacing: 0;
    position: relative;
}
.content-body h1 {
    padding-top: 40px;
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.4;
    word-break: break-all;
    border-bottom-width: 3px
}
.content-body h1:first-child {
      margin-top: 0;
}
.content-body h2 {
    margin-top: 40px;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.4;
    word-break: break-all;
    border-bottom-width: 3px
}
.content-body h2:first-child {
      margin-top: 0;
}
.content-body h3 {
    margin-top: 40px;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: bold;
    border-bottom-width: 2px
}
.content-body h3:first-child {
      margin-top: 0;
}
.content-body h4 {
    font-size: 15px;
    margin-bottom: 8px
}
.content-body h4:before {
      content: '↘';
}
.content-body p {
    margin-bottom: 32px;
    font-size: 15px;
}
.content-body li {
    margin-left: 10%;
    border: none;
    font-size: 15px
}
.content-body li:last-child {
      margin-bottom: 40px;
}
.content-body li pre {
      margin: 0;
}
.content-body li li {
      margin-bottom: 0 !important;
}
.content-body ul li {
    list-style-type: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box
}
.content-body ul li:before {
      content: '';
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: #3bbfce;
      background-color: var(--main-color);
      display: block;
      position: absolute;
      top: 0.6em;
      left: -24px;
      margin: auto 0;
}
.content-body a {
    display: inline-block;
    text-decoration: underline;
    font-size: 15px;
    letter-spacing: 0.13em;
    color: #666;
    color: var(--link-color);
    word-break: break-all
}
.content-body a:hover {
      opacity: 0.6;
.tags {
        opacity: 1;
}
}
.content-body a.imgLink {
      display: block;
}
.content-body table {
    font-size: 14px;
    margin-bottom: 25px;
    border-collapse: collapse;
    overflow: auto;
    -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
            box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1)
}
.content-body table th,
    .content-body table td {
      padding: 8px 8px;
      border: 1px solid #ddd;
      background-color: #fff;
      word-break : break-all;
}
.content-body table tr:nth-child(odd) td {
      background-color: #f9f9f9;
}
.content-body table th {
      background-color: #666;
      color: #fff;
}
@media screen and (max-width: 40.625rem) {
.content-body table {
      table-layout: fixed
}
}
.content-body blockquote {
    margin: 0 1%;
    padding-top: 16px;
    margin-bottom: 24px;
    background-color: rgba(255, 255, 255, 0.5);
    border-left: 4px solid #ddd;
    overflow: auto
}
.content-body blockquote > * {
      color: #777;
}
.content-body hr {
    border: none;
    border-bottom: 5px solid rgba(0,0,0,0.05);
    margin-bottom: 40px;
}
.dark .content-body pre {
      border: 1px solid #000 !important;
      background: #000
}
.dark .content-body pre .pun {
        color: #fff;
}
.dark .content-body pre .pln {
        color: #fff;
}
.dark .content-body pre .kwd {
        color: #3bbfce;
        color: var(--main-color);
}
.dark .content-body pre .str {
        color: #da4a53;
}
.dark .content-body pre .tag {
        color: #3bbfce;
        color: var(--main-color);
}
.dark .content-body pre .atv {
        color: #da4a53;
}
.dark .content-body pre .atv {
        color: #da4a53;
}
.dark .content-body pre .atn {
        color: #fff;
}
.dark .content-body table th,
      .dark .content-body table td {
        border: 1px solid #000;
        background-color: #111;
}
.dark .content-body table th {
        background-color: #000;
}
.dark .content-body table tr:nth-child(odd) td {
        background-color: #1a1a1a;
}
.dark .content-body blockquote {
      background-color: rgba(255, 255, 255, 0.05);
      border-left: 4px solid #111;
}

