* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

li {
  list-style-type: none;
}

.scrollContents {
  margin: 20px 20px;
  background-color: red;
  height: 200px;
  width: 200px;
  overflow: auto;
  z-index: 1;
  position: relative;
}

.scrollContents > section {
    height: 500px
  }

.scrollContents > *.on {
  background-color: #3399cc;
}

#header,
#main,
#footer {
  overflow: hidden;
  position: relative
}

#header.on, #main.on, #footer.on {
  }

.box {
  width: 100px;
  height: 100px;
  position: absolute;
  background-image: -webkit-gradient(linear, left top, left bottom, from(yellow), to(green));
  background-image: linear-gradient(yellow, green);
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 150px;
}

.box2 {
  width: 100px;
  height: 100px;
  position: fixed;
  
  top: 20px;
  right: 30px;
}

#header {
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(100,200,200)), to(rgb(40,200,200)));
  background-image: linear-gradient(rgb(100,200,200), rgb(40,200,200))
}

#header .parallaxContent li {
      margin: auto;
      width: 850px;
      height: 850px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: aliceblue;
      border-radius: 50%;
      opacity: 0.2
    }

#header .parallaxContent li:nth-child(1) {
          left: 30px;
          top: 30px;
      }

#header .parallaxContent li:nth-child(2) {
          left: -30px;
          top: -30px;
      }
.nav {
  margin: auto 0;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 20px;
  z-index: 10;
  height: 130px
}
.nav li {
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-bottom: 20px
  }
.nav li:last-child {
        margin-bottom: 0;
    }
.nav li.on {
        background-color: #3399cc;
    }

.description,
.title {
  margin: auto;
  color: white;
  text-align: center;
  height: 1em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 2rem;
  z-index: 1;
}

.description {
  top: 6rem;
  font-size: 1rem;
}

#main {
  height: 300%
}

#main section {
    height: 33%;
    overflow: hidden;
    position: relative
  }

#main section h2 {
      color : #fff;
      text-align: center;
      font-weight: normal;
      font-size: 2em;
      margin: 2.5rem;
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      height: 1em;
    }

#main #timing {
    background-color: #F5F0CF
  }

#main #timing .parallaxContent > * {
      width: 600px;
      height: 600px;
      border-radius: 50%;
      position: absolute;
      background-color: orange
    }

#main #timing .parallaxContent > *:first-child {
        top: -10%;
        left: -20%;
      }

#main #timing .parallaxContent > *:nth-child(2) {
        top: 15%;
        left: 10%;
      }

#main #timing .parallaxContent > *:nth-child(3) {
        top: 0;
        right: 10%;
      }

#main #timing .parallaxContent > *:last-child {
        top: -5%;
        right: -15%;
      }

#main #timing .parallaxContent {
      opacity: 0;
      -webkit-transition-property: opacity;
      transition-property: opacity;
      -webkit-transition-duration:0.5s;
              transition-duration:0.5s;
      -webkit-transition-timing-function:ease-in-out;
              transition-timing-function:ease-in-out;
    }

#main #timing.on .parallaxContent {
        opacity: 1;
      }

#main #speed {
    background-image: url(../img/img.png);
    background-position: 0 0;
    position: relative;
  }

#main #fit {
    background-color: #2DADAC;
    height: 35%
  }

#main #fit .parallaxContent {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      position: absolute;
      top: -100px;
      left: -20%;
      width: 80%;
      height: 330px
    }

#main #fit .parallaxContent li {
        height: 110px;
        background: #fff;
        width: 1px
      }

#main #fit .parallaxContent li:first-child {
          background: #fdc;
        }

#main #fit .parallaxContent li:nth-child(2) {
          background: #df8;
        }

#main #fit .parallaxContent li:nth-child(3) {
          background: #cfd;
        }



#footer {
  height: 100%;
  background-color: #452C0A;
  color: #fff
}



#footer ul {
    height: 2em;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    letter-spacing: 1px
  }



#footer ul a {
      color: white;
    }
